<div class="row">
    <div class="col-md-6 offset-3">
<a [routerLink]="['/department/creaDepartment']" ></a>
        <table class="table fa-border">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">capacity</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of departments">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.capacity}}</td>
                <td>
                  <button class="btn btn-outline-primary" [routerLink]="['departmentDetails',item.id]">Details</button>
                  <button class="btn btn-danger" (click)=" deleteDepartment(item.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

