<div class="row">
    <div class="col-md-6 offset-3">
    <app-add-student (StudentAdded)="AddStudent($event)"></app-add-student>
    <app-student-details [std]="lstd"></app-student-details>
        <table class="table fa-border">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Students">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>
                  <button class="btn btn-outline-primary" (click)="showDetails(item.id)">Details</button>
                  <button class="btn btn-danger" (click)="Delete(item.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

</div>

